  .location {
    background-color: black;
    color: white;
    margin: 20px;
    padding: 20px;
    }
     p { color: red; }
                strong {
                background-color: #B2D6FF;
                display: block;
                }
                 h1 {
                p {
  padding: 40px 0 20px 0;
  margin-bottom: 50px;  
}
.header {
    align-items: center;
    width: 900px;
    height: 300px;
    display: flex;
    justify-content: space-between;
}
 #myHeader { 
                    color: red;
                    text-align: center;
                    }
                    